{% extends 'base.html' %}

{% block content %}

    <h2>Товары</h2>
    
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                      <h5 class="card-title">Tovar:
                          <a href="{% url 'product_detail' product.id %}"> {{ product.name }}</a>
                      </h5>
                      <p class="card-text">Описание: {{ product.description }}</p>
                    <h3><a class="nav-link" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                    <b><card-text>Цена: {{ product.price}}</b>
                </div>
            </div>  

        {% empty %}
            <p>Товаров пока нет</p>
        {% endfor %}
    </div>

{% endblock %}

